@keyframes btn-hover {
  0% {
    background-image: linear-gradient(to top, #f76b1c 0%, #fad961 100%);
  }
  25% {
    background-image: linear-gradient(to top, #f76b1c 25%, #fad961 100%);
  }
  50% {
    background-image: linear-gradient(to top, #f76b1c 50%, #fad961 100%);
  }
  75% {
    background-image: linear-gradient(to top, #f76b1c 75%, #fad961 100%);
  }
  100% {
    background-image: none;
    background-color: #f76b1c;
  }
}

.btn {
  width: 256px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  border-radius: 3px;
  background-image: linear-gradient(to top, #f76b1c, #fad961);
  
  &:hover,
  &:active {
    animation-name: btn-hover;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
  }
}
