@media (max-width: 1400px) {
  .swiper-button-prev {
    left: 10px;
  }
  .swiper-button-next {
    right: 10px;
  }
}

@media (max-width: 1255px) {
  .wrapper {
    width: 100%;
  }
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__user {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .header__wrap {
    align-items: center;
  }
  .logo {
    margin-left: 0;
  }
  .logo img {
    height: 40px;
    width: auto;
  }
  .menu__btn {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/icon-menu-ham.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
  .menu__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: rgba(0,0,0,0.7);
  }
  .menu__link {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  .menu {
    align-self: center;
    margin-bottom: 0;
    margin-top: 0;
    
    &--opened {
      .menu__btn {
        background-image: url(../img/icon-menu-cross.svg);
      }
    }
  }
  .search {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 24px;
  }
  .search__input {
    font-size: 13px;
  }
  .gallery__block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 798px;
  }
  .gallery__narrow {
    float: left;
    margin-top: 32px;
    margin-bottom: 32px;
    
    &--right {
      margin-top: 0;
      margin-left: 30px;
    }
  }
  .header--internal {
    .search {
      margin-top: 5px;
    }
    .search__input {
      width: 60px;
    }
    .header__cart {
      font-size: 13px;
    }
  }
  .sort__select:last-of-type {
    margin-right: 16px;
  }
  .sort__btn {
    margin-bottom: 10px;
  }
  .result__item {
    padding: 20px;
  }
  .result__info {
    width: 510px;
  }
  .card__slider,
  .card__slider-2 {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .order__wrap {
    flex-wrap: wrap;
  }
  .order__btn {
    margin-left: auto;
  }
  .catalog__list {
    justify-content: space-around;
    
    .card__item {
      margin-right: 0;
    }
  }
  .call {
    .gallery__narrow {
      margin-left: auto;
      margin-right: auto;
      float: none;
    }
  }
  .contacts__info {
    padding-top: 0;
  }
  .contacts__map {
    height: 420px;
  }
  .form__field,
  .form__area {
    width: 49%;
  }
  .form__area {
    min-width: 49%;
    max-width: 49%;
  }
  .company__add {
    width: 200px;
  }
  .news__list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .news__item {
    margin-bottom: 16px;
  }
  .warranty__list {
    justify-content: space-around;
  }
  .warranty__item {
    margin-right: 0;
  }
  .delivery__img {
    height: 100%;
  }
  .basket__block {
    padding-left: 24px;
  }
  .basket__number {
    margin-top: 0;
    justify-content: flex-start;
  }
  .basket__model {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .basket .card__info {
    width: 75%;
  }
}

//----------------------------------
@media (max-width: 1022px) {
  .gallery__block {
    width: 100%;
  }
  .gallery__wide {
    width: 100%;
  }
  .gallery__photo {
    width: 49%;
    height: 175px;
    
    &--wide {
      width: 100%;
    }
  }
  .gallery__narrow {
    width: 47.5%;
    height: 350px;
  }
  .footer__phone {
    font-size: 14px;
  }
  .sort__filter {
    justify-content: center;
  }
  .result__item {
    display: block;
  }
  .result__slider {
    margin-left: auto;
    margin-right: auto;
  }
  .result__info {
    width: 100%;
  }
  .card__slider,
  .card__slider-2 {
    width: 386px;
  }
  .catalog__pages {
    display: block;
    text-align: center;
  }
  .catalog__link {
    display: block;
    margin-bottom: 20px;
  }
  .company__block {
    width: 100%;
    min-height: auto;
    margin-bottom: 16px;
  }
  .company__wrap {
    display: block;
  }
  .company__add {
    width: 400px;
    margin-right: 16px;
  }
  .service__item {
    width: 450px;
  }
  .service__list {
    justify-content: center;
  }
  .delivery__wrap {
    display: block;
  }
  .delivery__img {
    width: 100%;
    height: 150px;
    
    &::after {
      display: none;
    }
  }
  .delivery__info {
    width: 100%;
  }
  .basket__wrap {
    display: block;
  }
  .basket__block,
  .basket .basket__remove,
  .basket .card__block {
    width: 100%;
  }
  .basket__wrap--remove {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .basket .modal__label {
    float: none;
    display: block;
  }
  .basket__title,
  .basket__form {
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
  }
}

//-----------------------------------
@media (max-width: 766px) {
  .search__input {
    font-size: 13px;
  }
  .header--internal .header__cart,
  .header__phone,
  .header__cart {
    font-size: 0;
  }
  .promo__title {
    font-size: 24px;
  }
  .gallery__photo {
    width: 100%;
  }
  .gallery__narrow {
    float: none;
    width: 100%;
    height: 175px;
    margin-top: 0;
    margin-left: 0;
  }
  .gallery__wide {
    height: auto;
  }
  .footer {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .footer__wrap {
    flex-direction: column;
  }
  .sort__title {
    float: none;
    text-align: center;
  }
  .sort__output {
    text-align: center;
  }
  .title,
  .card {
    margin-bottom: 50px;
  }
  .pages__link {
    width: 40px;
    height: 40px;
    line-height: 40px;
    
    &::after {
      width: 50px;
      height: 50px;
    }
  }
  .modal {
    padding: 20px;
  }
  .basket__details,
  .contacts__wrap {
    display: block;
  }
  .contacts__map,
  .contacts__info {
    width: 100%;
  }
  .form .modal__label {
    max-width: 300px;
  }
  .basket .card__info {
    width: 60%;
  }
  .basket__details .order__color {
    margin-left: auto;
  }
  .basket__total {
    font-size: 18px;
  }
}

//------------------------
@media (max-width: 480px) {
  .header__phone,
  .search,
  .menu,
  .header--internal .menu,
  .header--internal .search {
    margin-left: 0;
    margin-right: 0;
  }
  .gallery__narrow,
  .gallery__photo {
    height: 140px;
  }
  .gallery {
    background-position: top 70px center;
  }
  .footer {
    text-align: center;
  }
  .footer__user {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .footer__phone {
    margin-right: 0;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .footer address {
    max-width: 250px;
  }
  .sort__wrap {
    padding: 10px;
  }
  .sort__price {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    padding-left: 0;
    margin-right: 0;
  }
  .sort__select,
  .sort__select:last-of-type,
  .sort__input {
    margin-right: 0;
  }
  .result__slider {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .result__thumbnails {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
  }
  .order__wrap {
    justify-content: center;
  }
  .order__price {
    margin: 15px 0;
  }
  .order__btn {
    margin-left: 0;
  }
  .result__wrap {
    display: block;
    
    a {
      display: block;
      margin-bottom: 10px;
      text-align: center;
    }
  }
  .call__bottom p,
  .title {
    font-size: 24px;
  }
  .card__slider,
  .card__slider-2 {
    width: 280px;
  }
  .card__item {
    width: 278px;
  }
  .card__block {
    display: block;
  }
  .card__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .card__info {
    width: 100%;
  }
  .card__price {
    text-align: center;
  }
  .card__btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
  .pages {
    box-shadow: none;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .pages__link {
    border: solid 1px #f9f9f9;
    
    &::after {
      display: none;
    }
  }
  .modal__label {
    float: none;
    display: block;
    line-height: 1.3;
    margin-right: 0;
    margin-bottom: 24px;
  }
  .modal__btn {
    margin-right: auto;
  }
  .company__file,
  .form__wrap {
    display: block;
  }
  .form__order {
    padding: 15px;
  }
  .form__area,
  .form__field {
    width: 100%;
  }
  .form__area {
    min-width: 100%;
    max-width: 100%;
    margin-top: 16px;
  }
  .form__btn {
    margin-right: auto;
  }
  .company__add {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }
  .company__btn {
    margin-left: auto;
    margin-right: auto;
  }
  .company__link {
    display: block;
    text-align: center;
    
    a {
      display: block;
    }
  }
  .news__item {
    width: 100%;
    padding: 16px;
  }
  .warranty__info,
  .service__info,
  .warranty__item,
  .service__item {
    width: 100%;
  }
  .warranty__item,
  .service__item {
    display: block;
  }
  .warranty__img,
  .service__img {
    width: 100%;
    height: 150px;
  }
  .warranty__img::after {
    display: none;
  }
  .sort__price span {
    margin-right: 0;
  }
  .basket .card__info {
    width: 100%;
  }
  .basket__total {
    display: block;
    text-align: center;
  }
  .basket__title,
  .basket__form {
    margin-left: 0;
  }
}
