.warranty {
  .title {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.warranty__list {
  .reset();
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

.warranty__item {
  width: 384px;
  min-height: 122px;
  margin-right: 32px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  border-radius: 3px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  border: solid 1px rgba(239, 239, 239, 0.55);
  
  &:nth-child(3n) {
    margin-right: 0;
  }
}

.warranty__img {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  overflow: hidden;
  
  img {
    display: block;
    height: 100%;
    object-fit: cover;
  }
}

.warranty__info {
  width: 60%;
  padding: 24px;
  font-size: 10px;
  line-height: 1.33;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.warranty__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
